.wrapper {background-color: beige; 
    height: auto; width: 600px; 
    padding-bottom: 100px; 
    padding-top: 20px;
    padding-right: 50px; 
    padding-left: 50px;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    margin: auto
}

.start { 
    font-weight: bold;
    border-style: double;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 450px
}

.work p {font-style: italic}

li {font-style: italic; 
    list-style-type: square
}

img {border-style: double; 
    float: right;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

#title {background-color: lightgray; 
    border-style: solid; 
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px;
}
    
#headtitle {background-color: lightgray; 
    border-style: solid; 
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px;
    margin-right: 130px
}

h2 {border-style: double; 
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px; 
    border-width: 5px
}

.reference p {margin-right: 300px}

