body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-image: url("background1.jpg");
    margin-right: 8%;
    margin-left: 8%;
}

p {
  text-align: center;
}

.content {
  background-image: linear-gradient(lightblue, beige);
  padding-top: 20px;
  padding-bottom: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(lightblue, white);
    li {
      display: inline-block;
      a {
        color: darkorchid;
        display: inline;
        text-align: center;
        padding: 6px 15px;
        text-decoration: none;
      }
      ul  {
        display: none;
        position: absolute;
        li {
          display: block;
        }
      }
    }
}

.right {float: right}

.head:hover {background-image: linear-gradient(yellow, orange)}

ul li:hover ul {display: block}
    

.subhead:hover {
  background-image: linear-gradient(powderblue, skyblue)
}


@media only screen and (max-width: 800px) {
body {
  margin-right: 0;
  margin-left:0;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(lightblue, white);
    li {
      border-style: none;
      display: initial;
      float: none;
      a {
        color: darkorchid;
        display: block;
        text-align: center;
        padding: 6px 15px;
        text-decoration: none;
      }
      ul {
        display: none;
        position: static;
      }
    }
}

.right {
  float: right;
}



}