@margin: 7%;
@color-a: #4C004C;

@color-b: darkmagenta;

@colorc: darkmagenta, violet, #ba55d3,  darkmagenta, violet, #ba55d3,  darkmagenta;
@repeat: 7;





.title {
    font-size: 4em; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    background-image: linear-gradient(to right, @color-b, magenta)
}



.top {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: @color-a;
    background-color: @color-a;
    border-radius: 5px;
    margin-right: 7%;
    margin-left: 7%;
    
    .item {
        margin: auto;
        font-family: Courier New, Courier, monospace;
        color: white;
    } 
 
    .color-loop (@i) when (@i > 0) {
        .item:nth-child(@{i}) {
             background-color: extract(@colorc, @i);
        }
    .color-loop(@i - 1);
    }
    .color-loop(@repeat);

    .item:hover {
        background-color: #ECF0F1;
    }
}




.container {   
    background-color: @color-b;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas: 
        "sidebar bargraph bargraph"
        "sidebar flex flex"
        "sidebar flex flex"

}
div.sidebar {
    grid-area: sidebar;
    margin: 10%;
}

div.bargraph {
    grid-area: bargraph;
}

div.flexbottom {
    grid-area: flex;
}

div .flexbottom .h2 {
    grid-area: h2;
}



.bars {
    background-color: green;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: auto;
    margin-bottom: 0;
}

.bargraph {
    height: 200px;
    display: grid;
    grid-template-columns: 20% 50% 50% 50% 50% 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "bar1 bar2 bar3 bar4 bar5 bar6";
    width: 30%;

    .bar1 {
        grid-area: bar2;
        .bars();
        height: 70%;
    }
    .bar2 {
        grid-area: bar3;
        .bars();
        height: 50%;
    }
    
    .bar3 {
        grid-area: bar4;
        .bars();
        height: 90%;
    }
    
    .bar4 {
        grid-area: bar5;
        .bars();
        height: 40%;
    }
}

@iterations: 10;
.mixin-loop (@i) when (@i > 0) {
  .mon:nth-child(@{i}) {
    grid-area: ~"mon@{i}";
  }
  .mixin-loop(@i - 1);
}
.mixin-loop(@iterations);

div .mon {
    grid-area: mon;
    padding: 2%;
    padding-right: 0;
    margin: 2%;
    border-radius: 25%;
    background-image: linear-gradient(to right, @color-a, violet);
}

.flexbottom {
    background-color: magenta;
    display: flex;
    flex: wrap;

    .mon div:nth-child(1) {
        font-weight: bold;
    }
    

    
}   




div.subItem {
    display: none;
}

div.sidebar {
    font-family: 'Courier New', Courier, monospace;
    .item:hover {
        font-weight: bold;
        background-color: @color-b;
        .subItem {
            font-weight: bold;
            display: block;
            text-indent: 15%;
            background-color: @color-b;
        }
    }
}

div.subItem:hover {
    color: red;
}

@media only screen and (max-width: 814px) {
    @colorA: darkmagenta, #ba55d3, darkmagenta, #ba55d3, darkmagenta, #ba55d3, darkmagenta;

    .title {
        font-size: 40px;
    }

    .top {
        display: block;
        width: 100%;
        margin-left: 0px;
        text-align: left;
        border-radius: 0;
        border: none;
        

        .loop (@i) when (@i > 0) {
            .item:nth-child(@{i}) {
                 background-color: extract(@colorA, @i);
            }
        .loop(@i - 1);
        }
        .loop(@repeat);

        .item:hover {
            background-color: #ECF0F1;
        }
    }

    .sidebar {
        display: none;
    }

    .bars {
        background-color: red;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0%;
        margin-bottom: 11%;
    }
    
    .bargraph {
        width: 300px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 19% 19% 19% 19% 19% 19%;
        grid-template-areas: 
            "bar1" 
            "bar2" 
            "bar3" 
            "bar4" 
            "bar5" 
            "bar6";
        width: 30%;
    
        .bar1 {
            grid-area: bar2;
            .bars();
            width: 170%;
            height: 20px;
        }
        .bar2 {
            grid-area: bar3;
            .bars();
            width: 150%;
            height: 20px;
        }
        
        .bar3 {
            grid-area: bar4;
            .bars();
            width: 220%;
            height: 20px;
        }
        
        .bar4 {
            grid-area: bar5;
            .bars();
            width: 140%;
            height: 20px;
        }
    }

    .container {   
        background-color: @color-b;
        border-radius: 0;
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 20% 20% 60%;
        grid-template-areas: 
            "bargraph bargraph bargraph"
            "flex flex flex"
            "flex flex flex"
    
    }
}

.mon {
    background-color: black;
}

.flexbottom {
    background-color: magenta;
    display: flex;
    flex: wrap;

    .mon div:nth-child(1) {
        font-weight: bold;
    }
    
    .mon {
        background-image: linear-gradient(to center, @color-a, purple);
    }
    
}   









